img {
  /* Simulates how images are aligned in Bootstrap */
  vertical-align: middle;
}

img[data-image-id] {
  max-width: 92vw;
  height: auto;
}

canvas.lazy-placeholder {
  max-width: 100%;
  height: auto;
  display: inline;
  opacity: 0;
  vertical-align: middle;
}

img.lazy-placeholder {
  opacity: 0;
  transition: opacity 350ms;
}

img.lazy-loaded {
  opacity: 1;
  transition: opacity 350ms;
}

.image-alert-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  color: #fff;
  font-size: 18px;
}

.image-fullscreen-wrapper {
  position: relative;
  display: inline-block;
}

.image-fullscreen-wrapper img,
.image-alert-placeholder {
  display: none;
}

.mode-interact .image-fullscreen-wrapper img {
  display: block;
}

.mode-interact .image-alert-placeholder {
  display: flex;
}

.image-fullscreen-wrapper .pswp {
  z-index: 8;
}

/* PhotoSwipe for iPhone X */
.pswp__top-bar {
  top: env(safe-area-inset-top);
}

.image-fullscreen-wrapper .pswp__top-bar {
  display: none;
}

.image-fullscreen-wrapper .pswp__img--placeholder--blank {
  background-color: transparent;
}

.image-fullscreen-wrapper .pswp__bg {
  background-color: rgba(255, 255, 255, 1);
}
