img {
  /* Simulates how images are aligned in Bootstrap */
  vertical-align: middle;
}

img[data-image-id] {
  max-width: 100%;
  height: auto;
}

canvas.lazy-placeholder {
  max-width: 100%;
  height: auto;
  display: inline;
  opacity: 0;
  vertical-align: middle;
}

img.lazy-placeholder {
  opacity: 0;
  transition: opacity 350ms;
}

img.lazy-loaded {
  opacity: 1;
  transition: opacity 350ms;
}
