.fl-widget-provider {
  width: 100%;
  border: 0;
  background-color: transparent;
}

#image-manager iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-widget-holder {
  padding: 15px 0;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
}

.image-widget-holder .tab-pane {
  padding-top: 20px;
}

#preview-image {
  position: relative;
  text-align: center;
  border: 1px solid #d9ddde;
  background-color: #FFF;
}

#preview-image img {
  width: auto;
  max-width: 100%;
  max-height: 250px;
}

#preview-image-editor {
  position: relative;
  text-align: center;
  border: 1px solid #d9ddde;
  background-color: transparent;
  padding: 10px;
  min-height: 230px;
}

#preview-image-editor img {
  width: auto;
  max-width: 100%;
  max-height: 230px;
}

.button-holder {
  padding: 10px 0;
}

.form-horizontal {
  margin-top: 30px;
}

.form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.titles {
  font-size: 1em;
  border-bottom: 1px solid #E3E9EB;
  margin-bottom: 2rem;
  padding-bottom: 1em;
}

.titles p {
  font-weight: bold;
  margin: 0;
}
/*LINK ACTION - NOT NEEDED*/
#document,
#screen,
#webpage {
  display: none;
}

#link-action {
  overflow: hidden;
}

.section h2 small {
  color: #14505e;
}

.control-label {
  text-align: left;
  padding-top: 12px;
}

.hidden-select {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  cursor: pointer;
  opacity: 0;
}

.form-group.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.form-group .btn-default {
  color: #333;
  background-color: #FFF;
  border: 1px solid #e4e9eb;
  border-bottom-width: 2px;
  border-radius: 6px;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
}

.form-group .btn-default:focus {
  outline: none;
}

.form-group .btn-default:active:focus {
  color: #FFF;
  background-color: #0087a6;
  border-color: #0087a6;
}

.inline-radio .radio.radio-icon + .radio.radio-icon {
  margin-top: 0;
}

.inline-radio .radio.radio-icon input[type="radio"] + label {
  padding-left: 15px;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.image-editor {
  display: none;
}

.image-editor-crop {
  display: none;
}

.image-editor-resize {
  display: none;
}

.image-editor-rotate {
  display: none;
}

.image-editor-crop .input-group-addon {
  width: 44px;
}

.image-editor-crop .input-group {
  width: 100%;
  margin-bottom: 30px;
}

.image-widget-holder .form-inline {
  margin-bottom: 15px;
}

#radio-warning {
  display: none;
}

#showEditButton,
.image-editor .form-inline .btn {
  margin-right: 6px;
  font-size: 0.8em;
  line-height: 3em;
  padding: 0 1.1em;
}

.image-editor .button-holder {
  margin-bottom: 0;
}

.edit-type {
  margin-top: 10px;
}

.image-editor .bg-danger p {
  padding: 15px;
}

.image-editor-crop select {
  margin-top: 10px;
}

.image-editor-resize .form-horizontal {
  margin-top: 0;
}

#loader {
  position: relative;
  top: 100px;
}

#preview-image-editor {
  display: flex;
  align-items: center;
  justify-content: center;
}

#preview-image-editor #loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 54px;
}

.editCanvasWrapper {
  display: inline-block;
  font-size: 0;
}

.editCanvasWrapper canvas {
  margin: auto;
  max-height: 250px !important;
  max-width: 100%;
  vertical-align: middle;
}

.link-actions {
  display: none;
}
