.fl-widget-provider {
    width: 100%;
    border: 0;
    background-color: transparent;
}

#image-manager iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-widget-holder {
    padding: 15px 0;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    bottom: 0;
}
/*BUTTONS*/
.btn {
    border-radius: 6px;
    line-height: 44px;
    padding: 0 15px;
    border: none;
}

.btn-default {
    color: #333;
    background-color: #e4e9eb;
    border-bottom: 2px solid #cfd3d5;
}

.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:focus,
.btn-default:hover {
    color: #333;
    background-color: #cfd3d5;
    border-color: #cfd3d5;
    outline: none;
}

.btn-primary {
    color: #FFF;
    background-color: #00abd2;
    border-bottom: 2px solid #0087a6;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
    color: #FFF;
    background-color: #0087a6;
    border-color: #0087a6;
    outline: none;
}

.btn-danger {
    color: #FFF;
    background-color: #d9534f;
    border-bottom: 2px solid #c9302c;
}

.btn-danger:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger:focus,
.btn-danger:hover {
    color: #FFF;
    background-color: #c9302c;
    border-color: #c9302c;
    outline: none;
}

.btn-link,
a {
    color: #00abd2;
}

header {
    display: flex;
    font-size: 1em;
    border-bottom: 1px solid #E3E9EB;
    margin-bottom: 3rem;
    padding-bottom: 1.5em;
}

header.titles {
    font-weight: bold;
}

header p {
    flex: 1;
    margin: 0 1.4rem 0 0;
}

header a {
    text-decoration: none;
}

#preview-image {
    position: relative;
    text-align: center;
    border: 1px solid #d9ddde;
    background-color: #FFF;
}

#preview-image img {
    width: auto;
    max-width: 100%;
    max-height: 250px;
}

.button-holder {
    padding: 10px 0;
    margin-bottom: 30px;
}

.form-horizontal {
    margin-top: 30px;
}

.titles {
    font-size: 1em;
    border-bottom: 1px solid #E3E9EB;
    margin-bottom: 3rem;
    padding-bottom: 1.5em;
}

.titles p {
    font-weight: bold;
    margin: 0;
}
/*LINK ACTION - NOT NEEDED*/
#document,
#screen,
#webpage {
    display: none;
}

#link-action {
    overflow: hidden;
}

.section h2 small {
    color: #14505e;
}

.control-label {
    text-align: right;
    padding-top: 12px;
}

label {
    font-weight: normal;
    color: #14505e;
}

.select-proxy-display {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    padding: 0 44px 0 15px;
    background: #fff;
    border: 1px solid #e4e9eb;
    border-radius: 6px;
    cursor: pointer;
    outline: 0;
    font-weight: 400;
    line-height: 44px;
    position: relative;
    color: #333;
}

.select-proxy-display .icon {
    position: absolute;
    width: 44px;
    height: 44px;
    top: -1px;
    right: -1px;
    background-color: #cbcfd1;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #FFF;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid #e4e9eb;
}

.select-value-proxy {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    display: block;
}

.form-control {
    border-radius: 6px;
    border: 1px solid #e4e9eb;
    color: #333;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #00abd2;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 171, 210, .6);
}

.hidden-select {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 44px;
    cursor: pointer;
    opacity: 0;
}

.form-group .btn-default {
    color: #333;
    background-color: #FFF;
    border: 1px solid #e4e9eb;
    border-bottom-width: 2px;
    border-radius: 6px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
}

.form-group .btn-default:focus {
    outline: none;
}

.form-group .btn-default:active:focus {
    color: #FFF;
    background-color: #0087a6;
    border-color: #0087a6;
}

.radio input {
    display: none;
}

.radio {
    float: left;
}

.radio label {
    position: relative;
    height: 44px;
    line-height: 44px;
    border: 1px solid #e4e9eb;
    border-radius: 0;
    background-color: #FFFFFF;
    padding: 0 15px;
    margin-left: 0;
    margin-bottom: 0;
}

.radio:first-child label {
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.radio:last-child label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.radio input[type="radio"]:checked + label {
    background-color: #00abd2;
    color: #FFF;
}
